h1{
    color:#DDE258;
}
img{
    width: 400px;
}
.divClass {
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: brown;
    padding: 50px;
    border: 2px solid black;
}  
.spanID {
    margin: 50px;
    font-size: 18px;
}

